//flex

@mixin flex-row($gap:0) {
    display: flex;
    flex-direction: row;
    gap: $gap;
}
@mixin flex-row-reverse($gap:0) {
    display: flex;
    flex-direction: row-reverse;
    gap: $gap;
}

@mixin flex-col($gap:0) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin center-center {
    justify-content: center;
    align-items: center;
}

@mixin row-between-center {
    justify-content: space-between;
    align-items: center;
}

@mixin row-end-center {
    justify-content: end;
    align-items: center;
}
@mixin row-start-center {
    justify-content: start;
    align-items: center;
}
@mixin col-center-start{
    justify-content: center;
    align-items: start;
}

//card
@mixin card($padding:12px,$color:white){
    box-shadow: 0 2px 6px rgba(0,0,0, 0.05);
    background-color: $color;
    padding: $padding;
    border-radius: 4px;
}