//flex

@mixin flex-row($gap:0) {
    display: flex;
    flex-direction: row;
    gap: $gap;
}

@mixin flex-col($gap:0) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin center-center {
    justify-content: center;
    align-items: center;
}

@mixin row-between-center {
    justify-content: space-between;
    align-items: center;
}

@mixin row-end-center {
    justify-content: end;
    align-items: center;
}